.app-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table-total {
    margin-top:20px;
  text-align:right;
  font-size:16px;
  display: block;
  font-weight: bold;
}

.app-table-header {
  text-align: left;
  padding:  10px 0 !important;
  font-size: 14px;
  font-weight: bold;
}

 .app-table-data {
  text-align: left;
  padding: 15px 0 !important;
  font-size: 12px;
  color: #999999;
}

.table-btn {
 background-color: #fe5634;
 padding:10px;
 text-align: center;
 border-radius: 3px;
 color:white;
 cursor:pointer;
 transition: all .2s;
 font-size: 12px;
}

.table-btn:hover {
background-color: #1b1b1b;
}

.table-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.table-view-all {
    background-color: #c00;
    padding:8px 15px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}


.table-active {
   color: #7fe233;
}

.table-pending {
  color: #e2c233;
}

.table-inactive {
 color: #d52f2f;
}

.table-image{
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}



.app-table2 {
  margin-top:30px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}


.app-table2-header {
  text-align: left;
  padding: 15px 15px !important;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color:#828282;
}

 .app-table2-data {
  text-align: left;
  padding: 15px 15px !important;
  font-size: 12px;
  color: #999999;
  background: white;
  margin-bottom: 20px !important;
}

.app-table2-row {
  border: 10px solid #F6F8F9;
}


.styled select {
  background: transparent;
  font-size: 13px;
  height: 40px; 
  color:rgb(50, 50, 50);
  font-weight: 800;
  border-radius: 5px;
 
} 

.styled{
  border-radius: 3px;
  display: inline-block;
  height: 40px;
border-radius: 5px;
background-color: #ffffff;
margin-right:20px
}



.table-button-sort select {
border: 2px solid  #7677ae;
}

.table-button-filter select {
border: 2px solid  #5322db;
}

.table-button-actions select {
border: 2px solid #131573;
}

.app-icon {
font-family: 'ionicons';
}

input[type="checkbox"]
{
    vertical-align:middle;
}
input[type=checkbox] {
  transform: scale(1.2);
}
.form-flex-h2{
  font-size: 18px;
  font-weight: 600;
}

.form-flex {
display: flex;
margin-top: 30px;
flex-wrap: wrap;
}
.form-flex-col {
 flex-basis: 50%;
 margin-bottom: 10px;
 padding-right: 20px;
}
.form-flex-col-x {
  flex-basis: 30%;
  margin-bottom: 10px;
  padding-right: 20px;
 }

 .form-flex-col-3 {
  flex-basis: 25%;
  margin-bottom: 10px;
  padding-right: 20px;
 }

.app-form-button{
  background: #c00;
  padding: 10px 50px;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.table-btn {
  background-color: rgb(49, 49, 49);
  padding:4px 10px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  cursor: pointer;
  width: 100px;
  float: right;
}

.details-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.details-div {
  margin-bottom: 57px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%;
}

.details-header {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.details-value {
  color: #6a6a6a;
  font-size: 13px;
  font-weight: 400;
}

.app-table-select{
  display: flex;
}